* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    gap: 6rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.history {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    max-height: 460px;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.history-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.history-list::-webkit-scrollbar {
    display: none;
}

input, select, button {
    margin: 10px 5px;
    padding: 10px;
    width: 90%;
    font-size: 1rem;
}

label {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#resultado {
    display: none;
    font-size: 20px;
}

@media (max-width: 480px) {
    body {
        padding: 10px;
        flex-direction: column;
        gap: 3rem;
    }

    .container {
        width: 100%;
        max-width: none;
        padding: 20px;
    }

    input, select, button {
        width: 100%;
        font-size: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    label {
        font-size: 1rem;
    }

    #resultado {
        font-size: 18px;
    }

    .history {
        max-height: 20rem;
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
    }
}

  